@font-face {
    font-family: 'lablife';
    src: url(../font/lablife.woff) format('woff');
}

@font-face {
    font-family: 'kokoro';
    src: url(../font/Kokoro.otf) format('opentype');
}

* {
    margin: 0;
    padding: 0;
    font-family: 'lablife', 'kokoro';
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: #fafafa;
}

#all{
    width: 100%;
}

#hero {
    width: 100%;
    background-image: url(../img/hero.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    padding-bottom: 50%;
    position: relative;
}

#hero > img {
    width: 50%;
    position: absolute;
    top: 25%;
    left: 50%;
    margin-left: -25%;
}

#caption {
    width: 550px;
    height: 200px;
    text-align: center;
    position: absolute;
    left: 50%;
    bottom: 5%;
    margin-left: -275px;
}

#caption > h1,
#caption > p {
    color: #fafafa;
    letter-spacing: 8px;
    display: block;
}

#caption > h1 {
    font-size: 50px;
}

hr {
    display: inline-block;
}

#global-nav ul {
    list-style: none;
    position: absolute;
    bottom: 30px;
    right: 50%;
    margin-right: -235px;
    font-size: 20px;
}

#global-nav {
    overflow: hidden;
    width: 100%;
    height: 50px;
    text-align: center;
}

#global-nav ul li {
    float: left;
}

#global-nav ul li a {
    padding: 0 20px;
    color: #fff;
    text-decoration: none;
}

#global-nav > ul > li > a:hover {
    color: lightblue;
}


/*
nav {
    width: 460px;
    height: auto;
    overflow: hidden;
    margin: 50px auto;
}

nav li {
    list-style-type: none;
    float: left;
}

nav a {
    font-size: 22px;
    display: block;
    text-decoration: none;
    color: #fafafa;
    margin: 14px 16px 0px;
    transition: 0.3s;
}

nav a:hover {
    color: lightblue;
}
*/


/* Toggle Button */

#nav-toggle {
    display: none;
    position: absolute;
    right: 12px;
    top: 14px;
    width: 34px;
    height: 36px;
    cursor: pointer;
    z-index: 101;
}

#nav-toggle div {
    position: relative;
}

#nav-toggle span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #fff;
    left: 0;
    -webkit-transition: .35s ease-in-out;
    -moz-transition: .35s ease-in-out;
    transition: .35s ease-in-out;
}

#nav-toggle span:nth-child(1) {
    top: 0;
}

#nav-toggle span:nth-child(2) {
    top: 11px;
}

#nav-toggle span:nth-child(3) {
    top: 22px;
}


/* Toggle Button */

#container {
    background-color: #0c1d2b;
    width: 100%;
    height: auto;
    overflow: hidden;
}

#webs {
    width: 80%;
    height: 300px;
    margin: 0 auto;
}

.caption {
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0;
    position: absolute;
    top: 0;
    z-index: 3;
    transition: 0.5s;
    text-align: center;
    color: #000;
}

.caption > p,
.caption > i {
    color: #000;
    font-size: 20px;
    margin-top: 30px;
}

.web-capture {
    width: 30%;
    height: 100%;
    overflow: hidden;
    position: relative;
    float: left;
    margin: 1%;
}

.web-capture > a > img {
    width: 100%;
}

.web-capture:hover .caption {
    opacity: 0.7;
}

#designs {
    width: 80%;
    height: auto;
    margin: 0 auto;
}

.design-box {
    width: 30%;
    height: 100%;
    float: left;
    margin: 1%;
}

.design-box > a > img {
    width: 100%;
}


/* modal */


/* modal */

#photos {
    width: 80%;
    height: 300px;
    margin: 0 auto;
}

#photos_list {
    /* Prevent vertical gaps */
    line-height: 0;
    -webkit-column-count: 3;
    -webkit-column-gap: 0px;
    -moz-column-count: 3;
    -moz-column-gap: 0px;
    column-count: 3;
    column-gap: 0px;
}

#photos_list img {
    /* Just in case there are inline attributes */
    width: 100% !important;
    height: auto !important;
}

.invisible {
    transition: opacity 0.5s ease;
    opacity: 0.0;
}

.visible {
    transition: opacity 0.5s ease;
    opacity: 1.0;
}

#webs,
#designs,
#photos,
#about {
    width: 80%;
    height: auto;
    margin: 20px auto;
    overflow: hidden;
}

#webs > h1,
#designs > h1,
#photos > h1,
#about > h1 {
    color: #fafafa;
    text-align: center;
    letter-spacing: 8px;
    padding: 20px 0;
}

#about > img {
    width: 50%;
    float: left;
}

#about > .profile {
    width: 45%;
    margin-left: 5%;
    color: #fafafa;
    float: left;
}

.profile_caption {
    margin-bottom: 30px;
}

.profile_caption > h2 {
    margin-bottom: 20px;
}

.profile_caption > img {
    width: 70px;
    margin-left: 20px;
    margin-top: 20px;
}

#contact {
    width: 80%;
    height: auto;
    margin: 20px auto;
    overflow: hidden;
    text-align: center;
}

#contact > h1 {
    color: #fafafa;
    text-align: center;
    letter-spacing: 8px;
    padding: 20px 0;
}

#icons {
    width: 100%;
    text-align: center;
}

#icons > a > i {
    margin: 0 5%;
    color: #fafafa;
}

#page-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 77%;
}

#page-top a {
    background: #666;
    text-decoration: none;
    color: #fff;
    width: 100px;
    padding: 30px 0;
    text-align: center;
    display: block;
    border-radius: 5px;
}

#page-top a:hover {
    text-decoration: none;
    background: #999;
}

footer{
    width: 100%;
    height: 30px;
    background-color: #fff;
    text-align: center;
}

footer > p{
    text-align: center;
    padding: 5px;
    margin: 0 auto;
}